<?php
declare(strict_types=1);
$finder = PhpCsFixer\Finder::create()
                           ->in(
                               [
                                   __DIR__.'/src',
                                   __DIR__.'/tests'
                               ]
                           );

return PhpCsFixer\Config::create()
                        ->setRiskyAllowed(true)
                        ->setUsingCache(false) // cache is always an issue when you switch branch
                        ->setRules(
                            [
                                '@Symfony' => true,
                                '@Symfony:risky' => true,
                                'array_syntax' => [
                                    'syntax' => 'short',
                                ],
                                'combine_consecutive_unsets' => true,
                                'declare_strict_types' => true,
                                'dir_constant' => true,
                                'mb_str_functions' => true,
                                'modernize_types_casting' => true,
                                'no_multiline_whitespace_before_semicolons' => true,
                                'no_php4_constructor' => true,
                                'no_short_echo_tag' => true,
                                'no_unreachable_default_argument_value' => true,
                                'no_useless_else' => true,
                                'no_useless_return' => true,
                                'ordered_class_elements' => true,
                                'ordered_imports' => true,
                                'phpdoc_order' => true,
                                'pow_to_exponentiation' => true,
                                'protected_to_private' => true,
                                'semicolon_after_instruction' => true,
                                'strict_param' => true, // RISKY !
                            ]
                        )
                        ->setFinder($finder);
